html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}
.game-board, .cell {
  box-sizing: border-box;
}
h1, h2, h3, p {
    margin: 0;
}

.main-title {
    text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust based on the board size */
  justify-items: center;
  margin: 30px;
  gap: 30px;
  max-width: 800px;
}
.ship-container {
  position: relative;
}

/* Gameboard */
.game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* Adjust based on the board size */
}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  /* box-shadow:0px 0px 0px 1px #ddd inset; */
  text-align: center;
}

.ship {
  /* Change cursor */
  border: 2px solid #ddd;
  background-color: gray;
}

.drag-drop {
  display: inline-block;
  min-width: 20px;
  padding: 2em 0.5em;
  margin: 0;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

.can-drop {
  color: #000;
  background-color: rgb(77, 241, 77);
  border: 2px solid gray;
}