@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html, body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
} 
body {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  transition: box-shadow 0.6s ease-out, filter 0.6s ease-out;
}
body.lost {
  filter: brightness(60%);
  box-shadow: inset 0 0 400px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.01s ease-out, filter 0.01s ease-out;
}
.game-board, .cell {
  box-sizing: border-box;
}
h1, h2, h3, p {
  margin: 0;
}

.main-title {
  font-family: 'Press Start 2P', sans-serif, system-ui;
  padding: 30px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: minmax(0px, 30px) 300px minmax(30px, 90px) 300px minmax(0px, 30px); /* Adjust based on the board size */
  grid-template-rows: 1fr 180px;
  margin: 0 30px;
  max-width: 800px;
  height: max-content;
  justify-self: center;
}
.container.playing {
  grid-template-rows: 1fr max-content max-content;
}

#player1-board {
  grid-column-start: 2;
  grid-row-start: 1;
}
#player2-board {
  grid-column-start: 4;
  grid-row-start: 1;
}
.board-opacity {
  opacity: 0.5; /* Adjust the opacity value as needed */
}
.ship-container {
  grid-row-start: 2;
  grid-column-start: 2;
  position: relative;
  max-width: 800px;
  height: auto;
  margin-top: 30px;
}
.instructions-container {
  grid-row-start: 2;
  grid-column-start: 4;
}
.instructions-title {
  margin: 8px 0;
  font-family: 'Press Start 2P', sans-serif, system-ui;
  font-size: 1.2rem;
  text-align: center;
}
.instructions-text {
  list-style-type: square;
  margin: 0;
  padding: 0 0 0 1.4rem;
}
.instructions-text li {
  font-family: monospace, sans-serif, system-ui;
  font-size: 1.1rem;
}
.fb-container {
  grid-row-start: 2;
  grid-column: 2/5;
  display: block;
  text-align: center;
}
.fb-title {
  margin: 1rem 0 0.5rem 0;
  font-family: 'Press Start 2P', sans-serif, system-ui;
}
.fb-text {
  font-family: monospace, sans-serif, system-ui;
  font-size: 1.1rem;
}
.fb-ships-1, .fb-ships-2 {
  display: flex;
  gap: 0 15px;
  flex-wrap: wrap;
}
.fb-ships-1 {
  padding: 1rem 6.5rem 0 1rem;
  grid-row-start: 3;
  grid-column: 2/3;
}
.fb-ships-2 {
  flex-direction: row-reverse;
  padding: 1rem 1rem 0 6.5rem;
  grid-row-start: 3;
  grid-column: 4/5;
}
.ship-rep-cell {
  display: inline-block;
  background-color: gray;
  border: 1px solid #fff;
  min-width: max-content;
}

#player2-board.hidden, .ship-container.hidden, .btn.hidden, .instructions-container.hidden, .fb-container.hidden {
  display: none;
}

/* Gameboard */
.game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px); /* Adjust based on the board size */
}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  /* box-shadow:0px 0px 0px 1px #ddd inset; */
  text-align: center;
}

.ship {
  border: 2px solid #ddd;
  background-color: gray;
}

.drag-drop {
  display: inline-block;
  min-width: 20px;
  padding: 2em 0.5em;
  margin: 0;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

.can-drop {
  color: #000;
  background-color: #66FF99;
  border: 2px solid gray;
}

.overlapping {
  background-color: #ff4545;
  border: solid 2px #fff;
}
.overlapping-fade {
  border: 2px solid #ddd;
  background-color: gray;
  transition: background-color 0.4s ease-out;
}

/* Buttons */

.btn {
  align-self: center;
  justify-self: center;
  width: 200px;
  height: 50px;
  font-family: 'Press Start 2P', sans-serif, system-ui;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  cursor: auto;
  border: 2px solid;
  padding: 0.25em 0.5em;
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.start {
  grid-column-start: 4;
  grid-row-start: 1;
}
.reset {
  grid-column: 2/5;
  grid-row-start: 3;
  margin-top: 1rem;
}

.btn-active, .reset {
  cursor: pointer;
  border: 3px solid;
  background-color: #fbeee0;
  color: rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  top: 0px;
  left: 0px;
}

.btn-active:active, .reset:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.25em 0.75em;
  }
}

/* Sunk ships */

.ship-sunk {
  border-style: double;
  border-color: lightgray;
}
.left-h {
  border-width: 4px 0 4px 4px; /* top right bottom left */
}
.middle-h {
  border-width: 4px 0 4px 0; /* top right bottom left */
}
.right-h {
  border-width: 4px 4px 4px 0; /* top right bottom left */
}
.top-v {
  border-width: 4px 4px 0 4px; /* top right bottom left */
}
.middle-v {
  border-width: 0 4px 0 4px; /* top right bottom left */
}
.bottom-v {
  border-width: 0 4px 4px 4px; /* top right bottom left */  
}